@media (min-width: 370px) and (max-width: 560px) {
  .container {
    margin: 0 auto;
    max-width: 560px;
  }
  #header {
    .container {
      display: flex;
      width: 90%;
      justify-content: space-between;
      nav {
        display: block;
        position: fixed;
        text-align: end;
        width: 50%;
        height: 100vh;
        padding: 30px;
        transform: translateX(100%);
        top: 0;
        right: 0;
        background: #1f1d21;
        z-index: 999;
        transition: transform 0.5s ease-in-out;
        ul {
          display: block;
          text-align: end;
          li {
            list-style: none;
            a {
              color: white;
              text-decoration: none;
              &:hover {
                color: #eaab74;
              }
            }
          }
        }
        a.clone {
          text-decoration: none;
          color: #ffb87a;
          &:hover {
            text-decoration: underline;
          }
        }
        .close-btn {
          color: white;
        }
      }
      .open-nav {
        transform: translateX(0%);
      }
    }
  }

  #home {
    width: 100%;
    .orange-btn {
      height: 30px;
      width: 120px;
      font-size: 12px;
    }
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      .left {
        display: flex;
        align-items: center;
        text-align: center;
        padding: 0 20px;
        width: 100%;
        gap: 10px;
        .title-big {
          font-size: 35px;
          line-height: 1.5;
        }
        .text-base {
          font-size: 12px;
          line-height: 1.2;
        }
      }
      .info {
        .header-info {
          font-size: 14px;
        }
        .info-text {
          font-size: 12px;
        }
      }
      .right {
        width: 100%;
        img {
          width: 100%;
          overflow: hidden;
        }
      }
    }
  }
  #know-more {
    .container {
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-top: 50px;
      .subheading {
        display: flex;
      }
      .left {
        padding: 0 20px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .title-large {
          font-size: 30px;
          line-height: 1.5;
        }
        .know-more-title {
          text-align: center;
        }
        .features {
          display: grid;
          text-align: center;
          .title {
            text-align: center;
            justify-content: center;
          }
          .long-text {
            margin-left: 70px;
            width: 70%;
          }
        }
      }
      .right {
        display: none;
      }
    }
  }
  #serving {
    padding: 100px 20px 0;
    .container {
      .subheading {
        display: flex;
        justify-content: center;
      }
      .title {
        display: flex;
        flex-direction: column;
        text-align: center;
      }
      .serving-features {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 1px;
        .feature {
          width: 100%;
          padding: 40px;
          background-color: #000;
          .p-title {
            font-size: 35px;
            font-family: "Playfair Display", serif;
            padding-bottom: 15px;
          }
          .text-base {
            width: 85%;
            padding-bottom: 40px;
          }
        }
      }
    }
  }
  #menu {
    .container {
      .subheading {
        display: flex;
        justify-content: center;
      }
      .title {
        flex-direction: column;
        text-align: center;
      }
      .menu-pics {
        display: grid;
        grid-template-columns: 1fr;
        gap: 32px;
      }
    }
  }
  #quote {
    display: flex;
    flex-direction: column;
    .quote {
      width: 100%;
      .title-medium {
        font-size: 25px;
      }
      .loc {
        color: #b8b8b8;
      }
    }
    .video-side {
      display: flex;
      button {
        position: relative;
        margin: auto;
        border-radius: 50%;
      }
      svg {
        display: block;
        margin: auto;
      }
      width: 100%;
      height: 300px;
      background-image: url("/assets/quote/bg-img-video-side.png");
      overflow: hidden;
    }
  }
  #blog {
    .container {
      .title-large {
        font-size: 35px;
        text-align: center;
      }
      .blog-items {
        grid-template-columns: 1fr;
      }
    }
  }
  #contact {
    .container {
      flex-direction: column;
      .left-side {
        text-align: center;
        margin-left: 0;
        width: 100%;
      }
    }
  }
  #footer {
    .navbar {
      display: none;
    }
  }
  #bottom {
    padding-top: 20px;
    border-top: none;
    .bottom {
      flex-direction: column-reverse;
      gap: 10px;
      .social-media {
        margin-right: 0;
      }
    }
  }
  #featured-blogs {
    .container {
      .box {
        flex-direction: column;
        .bg-box {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 100%;
          .article-title {
            width: 150px;
            height: 50px;
            top: 0;
          }
          .big-word {
            font-size: 30px;
            padding: 20px;
          }
          .author {
            display: flex;
            justify-content: space-between;
            width: 90%;
            padding-bottom: 10px;
            margin-left: 20px;
          }
        }
        .sm-box {
          display: flex;
          flex-direction: column;
          width: 100%;
          gap: 5px;
          .item {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #1f1d21;
            width: 100%;
            .sm-text {
              text-align: center;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 561px) and (max-width: 767px) {
  .container {
    margin: 0 auto;
  }
  .container {
    margin: 0 auto;
    max-width: 560px;
  }
  #header {
    .container {
      width: 90%;
      display: flex;
      justify-content: space-between;
      nav {
        display: block;
        position: fixed;
        text-align: end;
        width: 50%;
        height: 100vh;
        padding: 30px;
        transform: translateX(100%);
        top: 0;
        right: 0;
        background: #1f1d21;
        z-index: 999;
        transition: transform 0.5s ease-in-out;
        ul {
          display: block;
          text-align: end;
          li {
            list-style: none;
            a {
              color: white;
              text-decoration: none;
              &:hover {
                color: #eaab74;
              }
            }
          }
        }
        a.clone {
          text-decoration: none;
          color: #ffb87a;
          &:hover {
            text-decoration: underline;
          }
        }
        .close-btn {
          color: white;
        }
      }
      .open-nav {
        transform: translateX(0%);
      }
    }
  }

  #home {
    width: 100%;
    .orange-btn {
      height: 30px;
      width: 120px;
      font-size: 12px;
    }
    .container {
      display: flex;
      align-items: center;
      gap: 10px;
      .left {
        display: flex;
        text-align: start;
        width: 50%;
        gap: 10px;
        .title-big {
          font-size: 35px;
          line-height: 1.5;
        }
        .text-base {
          font-size: 12px;
          line-height: 1.2;
        }
      }
      .info {
        .header-info {
          font-size: 14px;
        }
        .info-text {
          font-size: 12px;
        }
      }
      .right {
        width: 50%;
        img {
          width: 100%;
          overflow: hidden;
        }
      }
    }
  }
  #know-more {
    .container {
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-top: 50px;
      .subheading {
        display: flex;
      }
      .left {
        padding: 0 20px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .title-large {
          font-size: 30px;
          line-height: 1.5;
        }
        .know-more-title {
          text-align: center;
        }
        .features {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          .long-text {
            width: 100%;
          }
        }
      }
      .right {
        display: none;
      }
    }
  }
  #serving {
    padding: 50px 20px 0;
    .container {
      .subheading {
        display: flex;
        justify-content: center;
      }
      .title {
        display: flex;
        flex-direction: column;
        text-align: center;
      }
      .serving-features {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1px;
        .feature {
          width: 100%;
          padding: 40px;
          background-color: #000;
          .p-title {
            font-size: 35px;
            font-family: "Playfair Display", serif;
            padding-bottom: 15px;
          }
          .text-base {
            width: 85%;
            padding-bottom: 40px;
          }
        }
      }
    }
  }
  #menu {
    .container {
      .subheading {
        display: flex;
        justify-content: center;
      }
      .title {
        flex-direction: column;
        text-align: center;
      }
      .menu-pics {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 32px;
      }
    }
  }
  #quote {
    display: flex;
    flex-direction: column;
    .quote {
      width: 100%;
      .title-medium {
        font-size: 25px;
      }
      .loc {
        color: #b8b8b8;
      }
    }
    .video-side {
      display: flex;
      svg {
        display: block;
        margin: auto;
      }
      width: 100%;
      height: 300px;
      background-image: url("/assets/quote/bg-img-video-side.png");
      overflow: hidden;
    }
  }
  #blog {
    .container {
      .title-large {
        font-size: 35px;
        text-align: center;
      }
      .blog-items {
        grid-template-columns: 1fr;
      }
    }
  }
  #contact {
    .container {
      flex-direction: column;
      .left-side {
        text-align: center;
        margin-left: 0;
        width: 100%;
      }
    }
  }
  #footer {
    .navbar {
      display: none;
    }
  }
  #bottom {
    padding-top: 20px;
    border-top: none;
    .bottom {
      flex-direction: column-reverse;
      gap: 10px;
      .social-media {
        margin-right: 0;
      }
    }
  }
}

@media (min-width: 768px) {
  .menu-btn,
  .close-btn {
    display: none;
  }

  .container {
    max-width: 740px;
  }
  #header {
    .container {
      display: flex;
      width: 90%;
      justify-content: space-between;
      align-items: center;
      nav {
        display: flex !important;
        text-align: center;
        align-items: center;
        width: 100%;
        height: 50px;
        padding: 0;
        transform: translateX(0%);
        background: #19161b;
        z-index: -1;
        ul {
          display: flex !important;
          text-align: center;
          li {
            list-style: none;
            a {
              color: white;
              text-decoration: none;
              &:hover {
                color: #eaab74;
              }
            }
          }
        }
        a.clone {
          text-decoration: none;
          color: #ffb87a;
          &:hover {
            text-decoration: underline;
          }
        }
        .close-btn {
          color: white;
        }
      }
    }
  }
  #home {
    .container {
      gap: 30px;
      .orange-btn {
        font-size: 14px;
        height: 40px;
        width: 150px;
      }
      .left {
        width: 50%;
        .title-big {
          font-size: 35px;
        }
        .text-base {
          font-size: 14px;
        }
        .info {
          .header-info {
            font-size: 14px;
          }
          .info-text {
            font-size: 12px;
          }
        }
      }
      .right {
        width: 60%;
        img {
          object-fit: cover;
        }
      }
    }
  }
  #know-more {
    .container {
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-top: 50px;
      .subheading {
        display: flex;
      }
      .left {
        padding: 0 20px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .title-large {
          font-size: 30px;
          line-height: 1.5;
        }
        .know-more-title {
          text-align: center;
        }
        .features {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          .title {
            justify-content: center;
          }
          .l-text {
            display: flex;
            justify-content: center;
          }
          .long-text {
            width: 100%;
            text-align: center;
          }
        }
      }
      .right {
        display: none;
      }
    }
  }
  #serving {
    padding: 100px 20px 0;
    .container {
      .subheading {
        display: flex;
        justify-content: center;
      }
      .title {
        display: flex;
        flex-direction: column;
        text-align: center;
      }
      .serving-features {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1px;
        .feature {
          width: 100%;
          padding: 40px;
          background-color: #000;
          .p-title {
            font-size: 35px;
            font-family: "Playfair Display", serif;
            padding-bottom: 15px;
          }
          .text-base {
            width: 85%;
            padding-bottom: 40px;
          }
        }
      }
    }
  }
  #menu {
    .container {
      .subheading {
        display: flex;
        justify-content: center;
      }
      .title {
        flex-direction: column;
        text-align: center;
      }
      .menu-pics {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 32px;
      }
    }
  }
  #quote {
    display: flex;
    flex-direction: column;
    .quote {
      width: 100%;
      .title-medium {
        font-size: 25px;
      }
      .loc {
        color: #b8b8b8;
      }
    }
    .video-side {
      display: flex;
      svg {
        display: block;
        margin: auto;
      }
      width: 100%;
      height: 400px;
      background-image: url("/assets/quote/bg-img-video-side.png");
      overflow: hidden;
    }
  }
  #bottom {
    .bottom {
      margin-top: 45px;
      flex-direction: column-reverse;
      gap: 10px;
      .social-media {
        margin-right: 0;
      }
    }
  }
}
@media (min-width: 922px) {
  .menu-icon {
    display: none;
  }
  .container {
    max-width: 880px;
  }
  #header {
    .container {
      .navbar {
        font-size: 15px;
        list-style: none;
        gap: 15px;
      }
    }
  }

  #quote {
    display: flex;
    flex-direction: row;
    .quote {
      width: 40%;
    }
    .video-side {
      width: 60%;
    }
  }
}
@media (min-width: 992px) {
  .menu-btn {
    display: none;
  }
  .container {
    max-width: 984px;
    margin: 0 auto;
  }

  #header {
    .container {
      .navbar {
        display: flex;
        justify-content: space-between;
        list-style: none;
        font-size: 18px;
        gap: 50px;
      }
    }
  }
  #home {
    .container {
      margin: 0 auto;
      width: 90%;
      .left {
        .title-big {
          font-size: 45px;
        }
        .info {
          .header-info {
            font-size: 18px;
          }
          .info-text {
            font-size: 14px;
          }
        }
      }
    }
  }
  #know-more {
    .container {
      flex-direction: column;
      .left {
        width: 85%;
      }
      .right {
        display: flex;
        width: 45%;
      }
    }
  }
  #serving {
    padding: 100px 20px 0;
    .container {
      .subheading {
        display: flex;
        justify-content: center;
      }
      .title {
        display: flex;
        flex-direction: column;
        text-align: center;
      }
      .serving-features {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
      }
    }
  }
  #menu {
    .container {
      margin: 0 auto;
      width: 90%;
      .subheading {
        display: flex;
        justify-content: center;
      }
      .title {
        flex-direction: row;
        text-align: start;
      }
      .menu-pics {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 32px;
      }
    }
  }
  #quote {
    display: flex;
    flex-direction: row;
    .quote {
      width: 40%;
      font-size: 35px;
    }
    .video-side {
      display: flex;
      svg {
        display: block;
        margin: auto;
      }
      width: 60%;
      height: 100vh;
      background-image: url("/assets/quote/bg-img-video-side.png");
      overflow: hidden;
      margin: 0 20px;
    }
  }
  #bottom {
    .bottom {
      flex-direction: row;
      .social-media {
        margin-right: 180px;
      }
    }
  }
}
@media (min-width: 1200px) {
  .menu-icon {
    display: none;
  }
  .container {
    max-width: 1140px;
  }
  .subheading {
    margin-top: 50px;
  }
  #header {
    .container {
      width: 100%;
      margin: 0 auto;
      .navbar {
        font-size: 18px;
        justify-content: space-between;
        list-style: none;
      }
    }
  }
  #know-more {
    .container {
      flex-direction: row;
      .subheading {
        display: flex;
        justify-content: start;
      }
      .left {
        width: 55%;
        text-align: start;
      }
    }
  }
  #serving {
    .container {
      .title {
        flex-direction: row;
        text-align: start;
      }
    }
  }
}
@media (min-width: 1400px) {
  .menu-icon {
    display: none;
  }
  .container {
    max-width: 1320px;
  }
}
