@media (min-width: 370px) and (max-width: 560px) {
  .container {
    margin: 0 auto;
    max-width: 540px;
  }
  body {
    border: 1px solid red;
    width: 100%;
  }
  #header {
    .container {
      margin: 0 auto;
      .navbar {
        .menu-btn {
          cursor: pointer;
        }
        ul,
        .clone {
          display: none;
        }
      }
    }
  }

  #home {
    width: 100%;
    .orange-btn {
      height: 30px;
      width: 120px;
      font-size: 12px;
    }
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      .left {
        display: flex;
        align-items: center;
        text-align: center;
        padding: 0 20px;
        width: 100%;
        gap: 10px;
        .title-big {
          font-size: 35px;
          line-height: 1.5;
        }
        .text-base {
          font-size: 12px;
          line-height: 1.2;
        }
      }
      .info {
        .header-info {
          font-size: 14px;
        }
        .info-text {
          font-size: 12px;
        }
      }
      .right {
        width: 100%;
        img {
          width: 100%;
          overflow: hidden;
        }
      }
    }
  }
  #know-more {
    padding-top: 80px;
    .container {
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-top: 150px;
      .subheading {
        display: flex;
      }
      .left {
        padding: 0 20px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .title-large {
          font-size: 30px;
          line-height: 1.5;
        }
        .know-more-title {
          text-align: center;
        }
        .features {
          display: grid;
          text-align: center;
          .title {
            text-align: center;
            justify-content: center;
          }
          .long-text {
            margin-left: 70px;
            width: 70%;
          }
        }
      }
      .right {
        display: none;
      }
    }
  }
  #serving {
    padding-top: 250px;
    padding: 250px 20px 0;
    .container {
      .subheading {
        display: flex;
        justify-content: center;
      }
      .title {
        display: flex;
        flex-direction: column;
        text-align: center;
      }
      .serving-features {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 1px;
        .feature {
          width: 100%;
          padding: 40px;
          background-color: #000;
          .p-title {
            font-size: 35px;
            font-family: "Playfair Display", serif;
            padding-bottom: 15px;
          }
          .text-base {
            width: 85%;
            padding-bottom: 40px;
          }
        }
      }
    }
  }
  #menu {
    .container {
      .subheading {
        display: flex;
        justify-content: center;
      }
      .title {
        flex-direction: column;
        text-align: center;
      }
      .menu-pics {
        display: grid;
        grid-template-columns: 1fr;
        gap: 32px;
      }
    }
  }
  #quote {
    display: flex;
    flex-direction: column;
    .quote {
      width: 100%;
      .title-medium {
        font-size: 25px;
      }
      .loc {
        color: #b8b8b8;
      }
    }
    .video-side {
      display: flex;
      button {
        position: relative;
        margin: auto;
        border-radius: 50%;
      }
      svg {
        display: block;
        margin: auto;
      }
      width: 100%;
      height: 300px;
      background-image: url("/assets/quote/bg-img-video-side.png");
      overflow: hidden;
    }
  }
  #blog {
    .container {
      .title-large {
        font-size: 35px;
        text-align: center;
      }
      .blog-items {
        grid-template-columns: 1fr;
      }
    }
  }
  #contact {
    .container {
      flex-direction: column;
      .left-side {
        text-align: center;
        margin-left: 0;
        width: 100%;
      }
    }
  }
  #footer {
    .navbar {
      display: none;
    }
  }
  #bottom {
    padding-top: 20px;
    border-top: none;
    .bottom {
      flex-direction: column-reverse;
      gap: 10px;
      .social-media {
        margin-right: 0;
      }
    }
  }
}

@media(min-width: 570px) and (max-width: 768px){
  
}

@media (min-width: 768px) {
  .menu-icon {
    display: none;
  }
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .menu-icon {
    display: none;
  }
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .menu-icon {
    display: none;
  }
  .container {
    max-width: 1140px;
  }
  .subheading {
    margin-top: 50px;
  }
}
@media (min-width: 1400px) {
  .menu-icon {
    display: none;
  }
  .container {
    max-width: 1320px;
  }
}
