#story-text {
  margin-top: 96px;
  .container {
    display: flex;
    .left {
      width: 50%;
      .text-base {
        width: 80%;
      }
      .tw-imgs {
        display: flex;
        width: 83%;
        gap: 64px;
        padding-top: 80px;
        .tw-img1,
        .tw-img2 {
          height: 500px;
          width: 100%;
          overflow: hidden;
          position: relative;
        }
        .tw-img1 {
          top: 50px;
        }
        .tw-img2 {
          bottom: 25px;
        }
      }
    }
    .right {
      margin-top: 20px;
      width: 50%;
      .text-base {
        margin: 20px 20px 20px 0;
        line-height: 1.8;
      }
      .title2 {
        display: flex;
        flex-direction: column;
        .title-medium span {
          color: #ffb87a;
        }
      }
    }
  }
}
